* {
  box-sizing: border-box;

}

body {

  background-image: url("../images/rps1.jpg");

  background-repeat: repeat;
  background-color: #28b4e5;

}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.bottom {
  position: absolute;
  width: 90%;
  bottom: 10px;


}

div {

  position: relative;

}

img {

  width: 100%;
  height: auto;


}

